<div class="fixed-bottom p-2">
  <div class="list-group list-group-horizontal justify-content-center">
    <a
      class="list-group-item list-group-item-dark link-info"
      href="https://getbootstrap.com/docs/5.2/components"
      target="_blank">
      Bootstrap (Styles)
    </a>
    <a
      class="list-group-item list-group-item-dark link-info"
      href="https://valor-software.com/ngx-bootstrap/#/components"
      target="_blank">
      Ngx-Bootstrap
    </a>
    <a
      class="list-group-item list-group-item-dark link-info"
      href="https://develop.battle.net/documentation/world-of-warcraft-classic"
      target="_blank">
      Battle.NET API
    </a>
    <button
      class="list-group-item list-group-item-dark link-info"
      type="button"
      (click)="clearCache()">
      Clear Cache
    </button>
  </div>
</div>
