name: Build and Deploy - GitHub Pages
on:
  workflow_dispatch:
permissions:
  contents: write

jobs:
  build-angular:
    name: Build Angular
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: "20.10.x"

      - name: Build Angular
        run: |
          cd WarcraftGearPlanner.Client
          npm install
          npm run build

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: angular-app
          path: /WarcraftGearPlanner.Client/dist/warcraft-gear-planner

  deploy-angular:
    name: Deploy Angular to GitHub Pages
    runs-on: ubuntu-latest
    needs: build-angular

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: angular-app

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: browser/
