name: Build and Deploy - Azure Function App
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: [master]
    paths:
      - "WarcraftGearPlanner.Functions/**"
      - "WarcraftGearPlanner.Shared/**"
      - ".github/workflows/deploy-azure-func.yml"
  pull_request:
    branches: [master]
    paths:
      - "WarcraftGearPlanner.Functions/**"
      - "WarcraftGearPlanner.Shared/**"
      - ".github/workflows/deploy-azure-func.yml"

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    env:
      AZURE_FUNCTIONAPP_PACKAGE_PATH: "WarcraftGearPlanner.Functions"
      DOTNET_CONFIG: "Release"
      DOTNET_VERSION: "6.0.x"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: .NET Setup ${{ env.DOTNET_VERSION }} Environment
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: .NET Build
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration ${{ env.DOTNET_CONFIG }} --output ./output
          popd

      - name: Deploy to Azure Function
        uses: Azure/functions-action@v1.5.1
        id: deploy-to-fa
        with:
          app-name: "wgp-func"
          slot-name: "Production"
          package: "${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output"
          publish-profile: ${{ secrets.AZURE_PUBLISHPROFILE_WGP_FUNC }}
